<tr>
  <td><%= station.title %></td>
  <td><%= link_to 'Show', station %></td>
  <td><%= link_to 'Edit', edit_station_path(station) %></td>
  <td><%= link_to 'Destroy', station, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>